<div class="container-fluid">
    <div class='row my-4'>
        <div class='col-12 col-lg- border-right' data-cy="data-grid">
            <kendo-grid
              [kendoGridBinding]="gridData"
              [kendoGridReactiveEditing]="createFormGroup"
              [height]="533"
              [pageSize]="pageSize"
              [pageable]="true"
              [navigable]="true">
                <ng-template kendoGridToolbarTemplate>
                    <button kendoGridAddCommand data-cy="add-new-item">Add new</button>
                </ng-template>
                <kendo-grid-column field="ProductName" title="Product Name" >
                    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                      <span data-cy="product-name-column">{{column.field}}</span>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span data-cy="product-name-value" [attr.data-cy-key]="dataItem.ProductName">
                            {{dataItem.ProductName}}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="UnitPrice" editor="numeric" title="Price">
                    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                      <span data-cy="price-name-column">{{column.field}}</span>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span data-cy="price-name-value" [attr.data-cy-key]="dataItem.ProductName">
                            {{dataItem.UnitPrice}}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="Discontinued" editor="boolean" title="Discontinued">
                    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                      <span data-cy="discontinued-name-column">{{column.field}}</span>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span data-cy="discontinued-name-value" [attr.data-cy-key]="dataItem.ProductName">
                            {{dataItem.UnitPrice}}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="UnitsInStock" editor="numeric" title="Units In Stock">
                    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                      <span data-cy="stock-name-column">{{column.field}}</span>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span data-cy="stock-name-value" [attr.data-cy-key]="dataItem.ProductName">
                            {{dataItem.UnitsInStock}}
                        </span>
                    </ng-template></kendo-grid-column>
                <kendo-grid-command-column title="command" [width]="220">
                    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
                        <button kendoGridEditCommand data-cy="edit" [attr.data-cy-key]="dataItem.ProductName" [primary]="true">Edit</button>
                        <button kendoGridRemoveCommand data-cy="remove" [attr.data-cy-key]="dataItem.ProductName" >Remove</button>
                        <button kendoGridSaveCommand data-cy="save" [attr.data-cy-key]="isNew?'new':dataItem.ProductName" [disabled]="!!formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
                        <button kendoGridCancelCommand data-cy="cancel" [attr.data-cy-key]="isNew?'new':dataItem.ProductName" >{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                    </ng-template>
                </kendo-grid-command-column>
            </kendo-grid>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class='row my-4'>
        <div class='col-12 border-right'>
            <kendo-chart>
                <kendo-chart-series>
                    <kendo-chart-series-item type="pie" [data]="series" categoryField="category" field="value">
                        <kendo-chart-series-item-labels [format]="'p0'" [position]="'auto'" [distance]="30">
                        </kendo-chart-series-item-labels>
                    </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-legend [visible]="true" [position]="'bottom'"></kendo-chart-legend>
            </kendo-chart>
        </div>
    </div>
</div>