<div class="container mt-5">
    <div class='row'>
        <div class='col-12'>
            <h1 class='welcome mb-0'>Welcome to Cypress 4 Beginner based on angular project</h1>
        </div>
    </div>
    <div class="row">
        <div class='col-12'><br><br></div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h1 class='get-started'>Get Started</h1>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-4 components-list'>
            <p>
                <img src='https://www.cypress.io/images/layouts/navbar-brand.svg' alt='cypress' data-cy="cypress-logo" />
                <a href='https://www.cypress.io/' cata-cy="cypress-link">Cypress home</a>
            </p>
            <p>
                <img src='https://static1.smartbear.co/cucumber/media/images/logos/icons/cucumber-open-icon.svg' alt='cucumber' data-cy="cucumber-logo"/>
                <a href='https://www.npmjs.com/package/cypress-cucumber-preprocessor' data-cy="cypress-cucumber-preprocessor-link">Cucumber with cypress plugin</a>
            </p>
        </div>
    </div>
</div>